#tabInnerContent .tab-pane{
    background-color: #F8EEDF;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 30px;

}

#tabInnerContent .tab-pane .content{
    width:50%;
    padding:20px 50px
}

 #tabContent .nav-pills .nav-item{
    background-color: #EFE1CB;
    padding: 0 !important;
    width: 300px;
}
 #tabContent .nav-pills .nav-item:nth-child(1){
border-radius: 12px 0 0px 0px;
 }
  #tabContent .nav-pills .nav-item:nth-last-child(1) {
      border-radius: 0 12px 0px 0px;
  }
#tabContent .nav-pills .nav-item .nav-link{
    padding:20px !important;
    width: 100%;
}
#tabContent .nav-pills .nav-link.active{
background-color: #EEB45B !important;
width: 100%;
}

@media only screen and (max-width:1200px){
    #tabInnerContent .tab-pane .content{
        width: 100%;
        padding:20px
    }
}