
 
#divider{
border: 1px solid #E9E9E9;
}
.moreFaqs{
    color: #2B9348;
    font-weight: 500;
    text-decoration: underline;
} 
.accordion-button:not(.collapsed),.accordion-button.collapsed{
    background-color: transparent !important;
    box-shadow: none;
    color:#1E1E1E
}
.accordion-item{
    border: 0;
    border-bottom: 1px solid rgba(2, 18, 10, 0.15);
}
.accordion-item:last-child{
    border: 0;
}
.reach{
    background-color: #DFEFE4;
    color:#1A191E;
    border-radius: 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;   
   position: relative;
   /* background: url('/assets/blackdots.png');
   background-size: contain; */
}
 
.reach .hand img{
    width: 30px;
    height: 35px;
    margin: 0 auto;
}
.reach input{
    padding: 10px;
}
.reach input:focus{
    box-shadow:none;
    border-color: #2B9348;
}
.reach button{
    font-size: 12px;
    font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
    width: 100%;
    padding: 15px;
}
.reach p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
     

    color: rgba(26, 25, 30, 0.6);
}
.reach button span{
    flex-grow: 1;
}
.reach .btnGroup {
      width: 100%;
  }

  .reach .btnFill,
  .reach .btnOutline {
      margin-right: 0 !important;
      width: 100%;
      
      text-align: left;
  }

 .reach .btnOutline button {
      width: 100% !important;
      text-align: left;
  }
 

@media screen and (max-width:1024px) {
    
    .reach{
        padding:15px !important;
        margin-top: 30px;
    }
}