.article .line {

    width: 100%;
    height: 1px;
    border: 1px solid #E9E9E9;
    bottom: 0px;
    left: 0
}

@media screen and (max-width:1024px) {
    
    #content{
        width: 100% !important;
}    
}