#BusinessConsulting .bg, #solutionImplementation .bg, #maintenanceSupport .bg{
    background-color: #DFEFE4;
    color:#000;
}
#BusinessConsulting h2,
#solutionImplementation h2,
#maintenanceSupport h2{
font-weight: bold;
}
.bg h6{
    font-weight: 700;
    font-size: 25px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: #2B9348;
}
.bg h1{
font-weight: 700 !important;
     
    letter-spacing: -0.03em !important;
    color: #1A191E !important;
}
 
#SolutionImplementation .bg {
    background-color: rgb(64, 84, 170);
    color: #000;
}

#MaintenanceSupport .bg {
    background-color: rgb(109, 44, 129);
    color: #000;
}

@media screen and (max-width:1024px) {
    #BusinessConsulting .title{
        font-size: 34px !important;
        line-height: 45px !important;
    }
     
    .bg h1{
        font-size: 20px !important;
        line-height: 26px !important;
    }
    
}

@media screen and (max-width:576px) {
    .bg h6 {
        font-size: 12px !important;
    }
    #BusinessConsulting h2, #BusinessConsulting p, #solutionImplementation h2, #solutionImplementation p,#MaintenanceSupport h2, #MaintenanceSupport p{
        text-align: center !important;
    }
         #BusinessConsulting .title {
             font-size: 20px !important;
             line-height: 26px !important;
         }
}