#book-a-demo{
    background-color: #fff;
    /* box-shadow: 0px 13px 17px rgba(0, 0, 0, 0.1), inset 0px 7px 0px #2B9348; */
    box-shadow: 0px 13px 17px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        margin: 0 25px;
}

#book-a-demo label{
    font-family: 'DM Sans', sans-serif;
     
    color: rgba(26, 25, 30, 0.8);
}
#book-a-demo input, #book-a-demo select{
    box-shadow: none;
    outline: none;
}
#book-a-demo input:active,#book-a-demo input:focus, select:active{
    border-color: #2B9348;
}


@media screen and (max-width:1024px) {
    #book-a-demo label {
        font-size: 12px;
    }
    #book-a-demo{
        padding:20px 15px !important;
        
    }
    .alternate{
        margin-bottom: 25px;
    }
}