#header{
    /* min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
    padding-top: 50px;
}
.gradient{
    background: linear-gradient(90.34deg, #4CF0A1 0%, #EBEE43 70.11%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        position: relative;
        
}
#top{
    color: #2B9348;
     
        font-weight: 700;
        font-size: 35px;
        line-height: 110%;
}

#title{
    position: relative;
    padding-bottom: 20px;
}
 
#header h1{
    font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 135%;
        position: relative;
}

.points p{
font-weight: 600;
    font-size: 16px;
    line-height: 180%;
}
 .points span{
    display: flex;
        
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
    
        background: #E6EEE8;
        border-radius: 100px;
 }
.icons{
    background-color: #F4F8F5;
    
}
.icons img{
    background-color: #E8F0EB;
    padding: 10px;
    border-radius: 50%;
    margin-left: 15px;
}
.icons .divider{
     border-right: 2px solid #E6EEE8;
    
}
@media screen and (max-width:1024px) {
    #header{
        min-height: auto;
        padding-top: 0px;
    }
     .divider{
       border: none !important;
     }
      
         .icons img {
             margin: 10px 0  !important;
         }
}

@media screen and (max-width:576px) {
    
 
.points p {
    font-weight: 600;
    font-size: 13px;
    line-height: 180%;
    width: 150px;
}
.points svg{
    height: 0.75em;
}
}